.gradle/
.idea/
*.iml
local.properties
/build/
**/build/
*.png
*.pdf
*.zip
tmp_vivo_*
curl_*.txt
llm_*.txt
llm_test_body*.json
ocr_*.txt
*_backup_*/
*_gitee_latest/
stitch_zhisishi_onboarding*/

issue_latest.docx

issue_latest.docx
